.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $dark;
  padding: 3rem 3rem;

  .action {
    display: flex;
    align-items: center;
    gap: 2rem;

    a {
      width: fit-content;
    }
  }

  .brand {
    background-color: $yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    border: 1px solid $dark;
    border-radius: 2rem;
    box-shadow: 4px 4px 0px 0px $dark;

    img {
      height: 3rem;
      // margin-left: -3rem;
      // padding: 2rem;
    }
  }

  a {
    font-size: $sm;
    font-weight: $bold;
    color: $dark;
  }

  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    .brand {
      padding: 0.5rem 0;
      img {
        height: 2rem;
      }
    }

    .author {
      .user-img {
        img {
          height: 2rem !important;
          width: 2rem !important;
        }
      }

      .user-info {
        h3 {
          font-size: $sm !important;
        }

        p {
          font-size: $xxs !important;
        }
      }

      &.header {
        h3 {
          font-size: $xxs !important;
        }

        p {
          font-size: $xxxs !important ;
        }
      }

      .btn-red {
        font-size: $xxs !important;
      }
    }
  }

  @media screen and (min-width: $mobile) and (max-width: $tablet) {
    .brand {
      padding: 0.5rem 0;
      img {
        height: 2rem;
      }
    }
  }
}

.header-content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 3rem 0;

  .logo-wrapper {
    display: flex;
    justify-content: center;
    cursor: pointer;
  }

  .user-info-wrapper,
  .user-button {
    display: flex;
    justify-self: end;
    grid-column: 2/13;
    margin-right: 3rem;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $yellow;
    padding: 0.5rem;
    border-radius: 1.5rem;
    border: 2px solid $dark;
    box-shadow: $shadow;
    grid-column: 1/2;
    width: max-content;
    transition: ease-in-out 0.2s;

    &:hover {
      background-color: $cream;
    }

    img {
      height: 5rem;
      width: 5rem;
    }
  }

  .user-button {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .user-info {
    display: flex;
    align-items: center;
    gap: 1rem;

    .user-img {
      background-color: $cream;
      padding: 0.5rem;
      border-radius: 1.5rem;
      border: 2px solid $dark;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 4rem;
        width: 4rem;
      }
    }

    .user-info {
      display: flex;
      flex-direction: column;
      align-items: self-start;

      h3 {
        font-size: $reguler;
      }

      p {
        font-size: $xs;
        margin-top: -0.5rem;
      }
    }

    h3 {
      color: $dark;
      font-size: 2.2rem;
      font-weight: $bold;
    }
  }
}
