pre {
  background-color: rgb(230, 230, 230);
  margin: 1em 0;
  padding: 1em;
}

.crossword.correct {
  rect {
    stroke: $green !important;
  }
  svg > rect {
    fill: $green !important;
  }
  text {
    fill: $green !important;
  }
}

.grid {
  padding: 2rem;
  border: 1px solid $dark;
  box-shadow: 5px 5px 0px 0px $dark;
}

.clue {
  padding: 0 0.8rem;
}

.clue.correct {
  &::after {
    content: " Benar"; /* a.k.a. checkmark: ✓ */
    display: inline-block;
    text-decoration: none;
    color: $green;
    margin-left: 0.25em;
    font-weight: $semi-bold;
  }

  text-decoration: line-through;
  color: $dark;
}

.clue.incorrect {
  &::after {
    content: " Salah"; /* a.k.a. checkmark: ✓ */
    display: inline-block;
    text-decoration: none;
    color: $red;
    margin-left: 0.25em;
    font-weight: $semi-bold;
  }

  background-color: $pink;
}
