.tentang {
  display: flex;
  gap: 2rem;

  .tentang-item {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    color: $dark;
    flex: 1;

    p {
      font-size: $xs;
      text-align: justify;
    }
  }
}
