.tentang {
  display: flex;
  gap: 2rem;

  .tentang-item {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    color: $dark;
    flex: 1;
    background-color: $cream;
    border: 2px solid $dark;
    box-shadow: $shadow;

    p {
      font-size: $xs;
      text-align: justify;

      a {
        color: inherit;
        font-weight: $bold;
      }
    }
  }
}
