button {
  display: flex;
  align-items: center;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  font-family: $josefin;

  svg {
    font-size: 1.8rem;
  }
}

a {
  width: 100%;
  button {
    width: 100%;
  }
}

.btn-primary {
  font-weight: $bold;
  box-shadow: 2px 2px 0px 0px $dark;
  background-color: $oranye;
  border: 1.8px solid $dark;
  padding: 1rem;
  border-radius: 1.2rem;
  color: $dark;
  font-size: $xs;
  cursor: pointer;
  transition: ease-in-out 0.3s;

  &:hover {
    box-shadow: 5px 5px 0px 0px $dark;
    transform: translateY(0.2rem);
  }
}

.btn-secondary {
  font-weight: $bold;
  box-shadow: 2px 2px 0px 0px $dark;
  background-color: $pink;
  border: 1.8px solid $dark;
  padding: 1rem;
  border-radius: 1.2rem;
  color: $dark;
  font-size: $xs;
  cursor: pointer;
  transition: ease-in-out 0.3s;

  &:hover {
    box-shadow: 5px 5px 0px 0px $dark;
    transform: translateY(0.2rem);
  }
}

.btn-white {
  font-weight: $bold;
  box-shadow: 2px 2px 0px 0px $dark;
  background-color: $white;
  border: 1.8px solid $dark;
  padding: 1rem;
  border-radius: 1.2rem;
  color: $dark;
  font-size: $xs;
  cursor: pointer;
  transition: ease-in-out 0.3s;

  &:hover {
    box-shadow: 5px 5px 0px 0px $dark;
    transform: translateY(0.2rem);
  }
}

.btn-red {
  font-weight: $bold;
  box-shadow: 2px 2px 0px 0px $dark;
  background-color: $red;
  border: 1.8px solid $dark;
  padding: 1rem;
  border-radius: 1.2rem;
  color: $dark;
  font-size: $xs;
  cursor: pointer;
  transition: ease-in-out 0.3s;

  &:hover {
    box-shadow: 5px 5px 0px 0px $dark;
    transform: translateY(0.2rem);
  }
}

.btn-yellow {
  font-weight: $bold;
  box-shadow: 2px 2px 0px 0px $dark;
  background-color: $yellow;
  border: 1.8px solid $dark;
  padding: 1rem;
  border-radius: 1.2rem;
  color: $dark;
  font-size: $xs;
  cursor: pointer;
  transition: ease-in-out 0.3s;

  &:hover {
    box-shadow: 5px 5px 0px 0px $dark;
    transform: translateY(0.2rem);
  }
}

.btn-green {
  font-weight: $bold;
  box-shadow: 2px 2px 0px 0px $dark;
  background-color: $green;
  border: 1.8px solid $dark;
  padding: 1rem;
  border-radius: 1.2rem;
  color: $dark;
  font-size: $xs;
  cursor: pointer;
  transition: ease-in-out 0.3s;

  &:hover {
    box-shadow: 5px 5px 0px 0px $dark;
    transform: translateY(0.2rem);
  }
}
