// Fonts
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap%27");
@import "_font";

// Colors
$yellow: #f6cd5d;
$oranye: #ffba88;
$light-pink: #ffd9dc;
$pink: #ffc8cd;
$red: #e25d6a;
$dark: #344972;
$gray: #d2ddf3;
$green: #b4d6b9;
$light-green: #f0fff2;
$white: #ffffff;
$black: #020202;
$cream: #fffae8;
$purple: #aeacff;
$yellow-light: #ffebb4;

// Font Weight
$thin: 300;
$reguler: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$black: 900;

// Size
$big: 18rem;
$xxl: 8rem;
$xl: 5rem;
$lg: 4.2rem;
$md: 3.5rem;
$rg: 2.4rem;
$sm: 1.8rem;
$xs: 1.6rem;
$xxs: 1.4rem;
$xxxs: 1.2rem;

// Media Query
$phone: 600px;
$tablet: 768px;
$dekstop: 1200px;

// Shadow
$shadow: 4px 4px 0px 0px $dark;
$shadow-light: 4px 4px 0px 0px $white;
$shadow-sm: 2px 2px 0px 0px $dark;
$shadow-xs: 1px 1px 0px 0px $dark;
