@import "_variable";
@import "_button";
@import "_text";
@import "_layout";

// Pages
@import "./pages/landingPage.scss";
@import "./pages/periodikPage.scss";
@import "./pages/materiPage.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: $josefin;
  font-size: $rg;
  background: $white;
  color: $black;
  overflow-x: hidden;
}

.container {
  position: relative;
  padding: 4rem 6rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $white;
}

input,
textarea {
  border-radius: 1.5rem;
  border: none;
  padding: 1.8rem 2rem;
  font-family: $josefin;
  font-size: $xs;
}

.slick-prev {
  left: 3%;
  z-index: 1;
}

.slick-next {
  right: 3%;
  z-index: 1;
}

.slick-prev,
.slick-next {
  &::before {
    color: $yellow;
    background-color: $dark;
    border-radius: 50%;
    opacity: 1;
    font-size: 4rem;
    cursor: pointer;
  }
}

.d-none {
  display: none;
  visibility: none;
  opacity: 0;
}
